html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inner {
    width: 170px;
    list-style: none;
    padding: 0.5em;
    background: #fff;
    border-radius: 5px;
    
}
.inner  li{
    border-radius: 5px;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em;
    color: rgba(0, 0, 0, 0.377);
    
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #E5E7EB;
    
}
.side-bar{
    width: 18%;
    height: 100vh;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.content{
    width: 95%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    
}
.list{
    width: 100%;
    height: 2em;
    font-size: 2rem;

}
.list a{
   height: 2em;
   text-decoration: none;
   color: #f8f8f8;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   align-items: center;
   padding-left: 0.5em;
   border-radius: 5px;
}
.list a:hover{
    background-color: #374151;
   
}
.pro a{
    display: flex;
    justify-content: space-between;
    
}
.pro-in{
    width: 20%;
    background-color: #f0bc74;
    text-align: center;
    border-radius: 8px;
    margin-right: 0.2em;
    color: rgba(34, 34, 34, 0.89);
    padding: 0.1em;
}
.upgrade{
    background-color: #f0bc74;
    color: #fff
    border-radius: 5px;
}
.upgrade a{
    color: rgba(34, 34, 34, 0.89);
}
.upgrade a:hover{
    background-color:#f5ab44;
}
.main-container{
    width: 80%;
    height: 100vh;
   
}
.navigation-bar{
    width: 100%;
 
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.search{
    width:25%;
    background-color: #fff;
    height: 35px;
    border: 1px solid #9CA3AF;
    border-radius: 20px;
    margin-left: 2em;
    display: flex;
    justify-items: center;
}
.search i{
    font-size:1.8rem ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(34, 34, 34, 0.726);
    padding: 0.2em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    border-right: 1px solid #9CA3AF;
}
.search input{
    font-size: 1.5rem;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 0.5em;
}
.profile{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 1em;
    
    
    
}
.ring{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2.5em;
}
.ring i{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.644);
}
.user i{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.658);
    background-color: #fff;
   
    border-radius: 50%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
.inner{
    position: absolute;
    top: 40px;
    right: -5%;
 
 
  
    
}


.drop li{
    color: rgba(41, 40, 40, 0.781);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;

    
}
.inner li{
    color: rgba(0, 0, 0, 0.61);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: normal;
    width: 100%;
    font-weight: 550;

}
.inner li:hover{
  background-color: #E5E7EB;
}
.drop{
   list-style: none;
position: relative;
}
#innerBox{
    display: block;
}


